<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid-19
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Total died</ion-label>
        <ion-note slot="end" color="primary">99</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Total cases</ion-label>
        <ion-note slot="end" color="primary">99</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Total helth</ion-label>
        <ion-note slot="end" color="primary">99</ion-note>
      </ion-item>
    </ion-card-header> 
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Primary Note</ion-label>
      <ion-note slot="end" color="primary">99</ion-note>
    </ion-item>
  </ion-list>

  
</ion-content>
